<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /evgen/euroPomelo/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /evgen/euroPomelo/index.php [L]
</IfModule>